html{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
   
    
  }

header, footer {
    background: gray;
    color: white;
  }

h3{
  background-color: lightgray;
  
}
