html{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body{
    color: #b2dff0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    list-style: none;         
        
        } 

header, footer {
    background-color: #000060;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding: 1em;
    border: 2px solid darkgray;
    box-sizing: border-box;
    border-radius: 1em/1em;
   
      }
 

main {
    display:grid;
    padding: 1em;
    row-gap: 20px;    
    }

    
section{  
    border: 2px solid darkgray;
    box-sizing: border-box;
    border-radius: 1em/1em;
    background-color:#13139a;
    
     }
  
  
nav{
    background-color:#d1d1d7;
    margin-top: 20px;
    border: 2px solid darkgray;
    box-sizing: border-box;
    border-radius: 1em/1em;
 }

 .fa {
    padding: 10px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

ul{
    padding-inline-start: 0px;
    list-style: none;
}



a:active,
a:link,
a:visited{
	color:  #020a0d;
	}

a:hover{
	color: white;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0.25rem 0.25rem;
	position: absolute;
	top: 2.75rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "⬇️";
}

.navigation {
	
    display: flex;
	flex-direction: column;
	list-style: none;
	
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

.open a {
	display: block;
}

.home::before { 
	content: "🏡";  /* just a wayfinding symbol for the user */
}

.discover::before { 
	content: "🔍";  /* just a wayfinding symbol for the user */
}

.directory::before { 
	content: "📘";  /* just a wayfinding symbol for the user */
}

.join::before { 
	content: "➕";  /* just a wayfinding symbol for the user */
}

#darkmode{
    position: absolute;
    top: 1rem;
	right: 1rem;
	font-size: 1rem;
	cursor: pointer;
	
}

.dark-mode {
    background-color: black;
    color: white;
}

.hero img {
  width: 100%;
  height:300px;
  box-sizing: border-box;
  border-radius: 1em/1em;
}

.grid-container {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto;
  border: 2px solid darkgray;
  box-sizing: border-box;
  border-radius: 1em/1em;
  padding: 10px;
}

.grid-item {
  background-color:#13139a;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 10px;
  text-align: center;
  
}

img {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
  
  }
  
  .img-grid {
    display: grid;
    gap: 50px 50px;
    grid-template-columns: auto;
    background-color: white;
    border: 2px solid darkgray;
    box-sizing: border-box;
    border-radius: 1em/1em;
    padding: 10px;
  }

.link:active,
.link:link,
.link:visited{
	color: white;
	}  

  .link:hover{
    color: lightblue;
  } 
  
  figcaption{
    color: #13139a;
    font-size: 20px;
  }

  /*----------- FORM STYLING --------------*/
 
  .join_page {
    display: block;
    text-align: left;
    
  }
  
  .wf1 fieldset{
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: .5rem 2%;
}

.wf1 legend{
  color: blue;
  padding: 0 .5rem;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: blue;
  font-size: .9rem;
  
}

.wf1 div{
  padding-top: 1rem;
  color: blue;
  font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 textarea,
.wf1 select,
.wf1 input[type="number"]{
  background-color: lightgray;
  display: block;
  border: solid 1px gray;
  border-radius: 6px;
  padding: .75rem;
  color: gray;
  width: 90%;
  max-width: 400px;
  appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
  margin-right: 6px;

}

.wf1 input[type="submit"] {
  border: none;
  background: #13139a;
  color: white;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;

}

.wf1 input:required{
  border-bottom: solid 5px red;
}

.wf1 input:required:valid{
  border-bottom: solid 5px green;
}

.grid-item2 {
  background-color: lightgray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  color:#13139a;
  
  
}

#directory{
  display:block;
  
 
}

  
#directory section{
  background-color:rgb(121, 121, 133);
  color: white;
  padding: 5px;
  row-gap: 20px; 

}

#directory img{
  width: 150;
  height: 100px;

}
