
@media (min-width: 769px) {

	main { 
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 10px; }

/*add hamburger button*/
#menu {
	display: none; /* hide hamburger button */
}

main section:nth-child(1) {
	grid-column: span 4;
}

.navigation {
	flex-direction: row;
}

.navigation a {
	display: block;
	flex: 1 1 100%;
}

}

