@media (min-width: 577px) and (max-width: 768px){
	main {
		grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 10px;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(1) {
		grid-column: span 2;
	}
/*add hamburger button*/
#menu {
	display: none; /* hide hamburger button */
}

.navigation {
	flex-direction: row;
}

.navigation a {
	display: block;
	flex: 1 1 100%;
}

.grid-container {
	display: grid;
	gap: 50px 50px;
	grid-template-columns: auto ;
	border: 2px solid darkgray;
	box-sizing: border-box;
	border-radius: 1em/1em;
	
  }
  
  .grid-item {
	background-color:#13139a;
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 30px;
	text-align: center;
  }
  
	
	.img-grid {
	  display: grid;
	  gap: 50px 50px;
	  grid-template-columns: auto;
	  border: 2px solid darkgray;
	  box-sizing: border-box;
	  border-radius: 1em/1em;
	  padding: 10px;
	}
	.hover:hover {
		box-shadow: 0 0 25px #13139a;
		border-radius: 50px 50px;
	}


}

