
header {
    background: lightblue;
    padding: 4rem;
    display: inline-flex;
     
  }

nav{
    background: black;
    padding: 1em;

  
}
html{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   
    
}

ul{
    padding-inline-start: 0px;
    list-style: none;
}

body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
     list-style: none;
        
    
   }

   a:link
   {
     color:white;
   }
     a:visited
   {
     color: blue;
   }
     a:hover
   {
     color:green;
   }
     a:active
   {
     color:red;
   }

main{
    display: grid;
} 
   
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
    color: white;
    margin-top: 81px;
    margin-left: 15px;
    
}

h2{
    text-decoration-line: underline;
}

h3{
    background: lightblue;
    text-align: center; 
}

section{
    border: 1px solid blue;
    box-sizing: border-box;
   
}

footer{
    background: lightblue;
    
}
#lastModified {
   color:blue;
}

#information {
    text-align:center;
    list-style: none;
}

#learningActivities
{
    text-align:left;
    list-style: none;
    padding-left: 10px;
}