
header {
    background: #74c4ec;
    display: flex;
    justify-content: center;
   
      }

      
nav{
    background: black;
    padding: 1em;

    a:link
    {
      color:white;
    }
      a:visited
    {
      color: gray;
    }
      a:hover
    {
      color:green;
    }
      a:active
    {
      color:#FF0000;
    }

    
}

nav ul{
  display: inline;
}

html{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   
    
}

ul{
    padding-inline-start: 0px;
    list-style: none;
}

body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
     list-style: none;
        
    
   }

   a:link
   {
     color:#0000FF;
   }
     a:visited
   {
     color:#800080;
   }
     a:hover
   {
     color:green;
   }
     a:active
   {
     color:#FF0000;
   }

main{
    display: grid;
} 
   
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
    color:#1a0404;
    margin-top: 81px;
    margin-left: 15px;
    
}

h2{
    text-decoration-line: underline;
}

h3{
    background: #74c4ec;
    text-align: center; 
}

section{
    border: 2px solid blue;
    box-sizing: border-box;
    border-radius: 1em/1em;
      
}

footer{
    background: #74c4ec;
    
    
}
#lastModified {
   color: #040f20;
}

#information {
    text-align:center;
    list-style: none;
}

#learningActivities
{
    text-align:left;
    list-style: none;
    padding-left: 10px;
}