@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}


    
main {
    display:grid;
    grid-template-columns: flex flex;
	column-gap: 20px;
	row-gap: 20px;
	
 }

 h2  {
	grid-column: span 2;
}

iframe  {
	grid-column: span 2;
}


/*add hamburger button*/
#menu {
	display: none; /* hide hamburger button */
}

.navigation {
	flex-direction: row;
}

.navigation a {
	display: block;
	flex: 1 1 100%;
}

}
