@media (min-width: 640px) {
	header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*add hamburger button*/
#menu {
	display: none; /* hide hamburger button */
}

.navigation {
	flex-direction: row;
}

.navigation a {
	display: block;
	flex: 1 1 100%;
}

}
